*{
    margin: 0;
    padding: 0;
}
#main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(87, 93, 114);
}
.left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.elem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}
.elem a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    padding: 1rem;
    color: black;
    text-decoration: none;
}
.elem a:hover{
    color: azure;
}
